.block {

}

.mainNav {
  padding-bottom: $margin_padding_big;
  @include midddle {
    padding-bottom: 0;
  }


  li {
    display: inline-block;
    padding-right: $margin_padding_normal;
    @include midddle {
      padding-right: 0;
      margin-right: 0;
    }

  }

  ul {
    @include midddle {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .name {
    font-size: $size_title_large;
    font-weight: 200;
    padding-right: $margin_padding_smallest;
    color: $color_font_black;
  }

  .ref {
    font-style: $size_font_big;
    color: $color_soft;
    vertical-align: baseline;
    font-style: italic;
  }

  .button {
    @include square_button;

  }
  
  .active, a:hover {
    background-color: $color_font_black;
    color: $color_font_white;
  }
}

.mainLogo {
  background-color: $color_bright;
  padding: $margin_padding_big;

  @include midddle {
    padding: 0;
    background-color: transparent;
  }

  img {
    width: 100%;
  }
}