%button {
  display: inline-block;
  text-align: center;
  text-decoration: none;

}

@mixin round_button{
  @extend %button;
  color: $color_font_white;
  background-color: $color_primal_dark;
  padding: $margin_padding_small $margin_padding_big;
  border-radius: 5px;
  font-size: $size_font_normal;

}

@mixin square_button{
  @extend %button;
  color: $color_font_black;
  padding: $margin_padding_small $margin_padding_big;
  font-size: $size_font_big;
  letter-spacing: 1px;
}


@mixin border_style_one{
  border-bottom: 2px groove $color_second_light;
}

@mixin midddle{
  @media (max-width: $screen-medium) {
    @content;
  }
}


@mixin small{
  @media (max-width: $screen-small) {
    @content;
  }
}
