@import "variables";
@import "mixins";
@import "header";
@import "content";
@import "footer";

body {
  background: url("../img/img01.png");
  font-family: Oswald;
  font-size: 0.9em;
  color: #887644;
}

.mainHeader, .mainContent, .mainFooter {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  padding-top: $margin_padding_biggest;
  padding-bottom: $margin_padding_large;
  margin-bottom: $margin_padding_normal;
  border-bottom: 2px groove #f7e9b7;
}

ul {
  list-style: none;
}


.flexContaintenerFour, .flexContaintenerThree, .flexContaintenerTwo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.columnOneFourth, .columnOneThird, .columnOneSecond {
  box-sizing: border-box;
}

.columnOneFourth {
  flex: 0 1 22%;
  position: relative;
}

.columnOneThird {
  flex: 0 1 31%;
}

.columnOneSecond {
  flex: 0 1 48%;
}

.mainNav, .controlContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}





