@import "variables";
@import "mixins";
@import "header";
@import "content";
@import "footer";

body {
  background: url("../img/img01.png");
  font-family: Oswald;
  font-size: 0.9em;
  font-weight: 400;
  color: #887644;

}

h2, h3 {
  font-weight: normal;
}

h2 {
  font-size: $size_title_large;
}

h3 {
  font-size: $size_title_big;
}


.mainHeader, .mainContent, .mainFooter {
  max-width: 1300px;
  min-widh: 475px;
  margin-left: auto;
  margin-right: auto;
  @include midddle {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.block {
  padding-top: $margin_padding_biggest;
  padding-bottom: $margin_padding_large;
  margin-bottom: $margin_padding_normal;
  border-bottom: $border_style_one;
}

ul {
  list-style: none;
}


.flexContaintenerFour, .flexContaintenerThree, .flexContaintenerTwo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.columnOneFourth, .columnOneThird, .columnOneSecond {
  box-sizing: border-box;
}

.columnOneFourth {
  flex: 0 1 22%;
  position: relative;

  @include midddle {
    flex: 0 1 49%;
    padding-top: $margin_padding_biggest;
  }

  @include small {
    flex: 0 0 98%;
  }
}

.columnOneThird {
  box-sizing: border-box;
  flex: 0 1 32%;
  align-items: flex-start;

  @include small {
    flex: 0 0 98%;
  }
}

.columnOneSecond {
  flex: 0 1 48%;

  @include midddle {
    flex: 0 1 98%;
  }
}

.mainNav, .controlContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  @include midddle {
    justify-content: flex-start;
  }
}

.logoTitle {
  flex: 0 0 25%;

  @include midddle {
    flex: 0 0 50%;
  }
}

.navMenu {
  flex: 0 0 auto;
  margin-left: auto;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-top: $margin_padding_small;
  padding-bottom: $margin_padding_big;
  align-items: center;
  line-height: 1.8;
  @include midddle {
    flex-flow: column wrap;
  }

  .pic {
    flex: 0 0 30%;
    margin-right: 4%;
    height: 100%;
    width: 100%;
    @include midddle {
      margin-right: 0;
    }
  }

  .description {
    flex: 0 0 65%;
    padding-right: 1%;
    @include midddle {

    }
  }
}

.veticalFlex {
  display: flex;
  flex-flow: column nowrap;

  @include midddle {
    flex-flow: row nowrap;
    justify-content: center;
  }

  @include small {
    flex-flow: column nowrap;
  }
}


.list {

  ul {
    margin-left: 0;
    padding-left: 0;
    padding-right: 2em;
    @include midddle {
      padding-left: 1em;
    }
    @include small {
      padding-left: 2em;
    }
  }
  li {
    padding: $margin_padding_small $margin_padding_normal;
    background: url("../img/img05.png") no-repeat left center;

    &:nth-of-type(n + 2) {
      border-top: $border_style_one;
    }
  }

  a {
    text-decoration: none;
    color: $color_primal_light;
    &:hover {
      text-decoration: underline;
    }
  }

  @include midddle {

  }
}







