.mainNav .button, .second .button, .third .card .button {
  display: inline-block;
  text-align: center;
  text-decoration: none; }

.mainNav {
  padding-bottom: 1.4em; }
  @media (max-width: 996px) {
    .mainNav {
      padding-bottom: 0; } }
  .mainNav li {
    display: inline-block;
    padding-right: 1em; }
    @media (max-width: 996px) {
      .mainNav li {
        padding-right: 0;
        margin-right: 0; } }
  @media (max-width: 996px) {
    .mainNav ul {
      margin-left: 0;
      padding-left: 0; } }
  .mainNav .name {
    font-size: 2.6em;
    font-weight: 200;
    padding-right: 0.4em;
    color: #1F1F1F; }
  .mainNav .ref {
    font-style: 1.3em;
    color: #545454;
    vertical-align: baseline;
    font-style: italic; }
  .mainNav .button {
    color: #1F1F1F;
    padding: 0.6em 1.4em;
    font-size: 1.3em;
    letter-spacing: 1px; }
    @media (max-width: 560px) {
      .mainNav .button {
        font-size: 1em;
        padding: 0.6em; } }
  .mainNav .active, .mainNav a:hover {
    background-color: #1F1F1F;
    color: #FFFFFF; }

.mainLogo {
  background-color: #FFFFFF;
  padding: 1.4em; }
  @media (max-width: 996px) {
    .mainLogo {
      padding: 0;
      background-color: transparent; } }
  .mainLogo img {
    width: 100%; }

.mainContent .pic > img {
  width: 100%; }

.mainContent .controlContainer {
  background-color: #1F1F1F;
  padding: 0.6em 1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
  .mainContent .controlContainer img {
    width: 1.4em;
    margin-left: auto; }

.first h2 {
  font-size: 1.8em; }

@media (max-width: 996px) {
  .first {
    margin-top: -3.5em; } }

.second .card:nth-of-type(n + 2) {
  border-top: 2px groove #F7E9B7; }

@media (max-width: 996px) {
  .second .card .description {
    font-size: 1.3em; } }

@media (max-width: 560px) {
  .second .card .description {
    font-size: 1em; } }

@media (max-width: 996px) {
  .second .themeOfDay {
    margin-bottom: 3em; } }

.second h2 {
  padding-top: 0;
  margin-top: 0; }

.second h3 {
  padding-top: 0;
  margin-top: 0; }

.second img {
  width: 100%; }

.second a {
  text-decoration: underline;
  color: #7D6F4B; }
  .second a:hover {
    text-decoration: none; }

.second .button {
  color: #FFFFFF;
  background-color: #706443;
  padding: 0.6em 1.4em;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em; }

.third .card h2 {
  font-size: 1.8em;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0; }

.third .card .pic {
  box-sizing: border-box;
  flex: 0 0 39%; }
  .third .card .pic img {
    width: 100%; }

.third .card .description {
  align-self: flex-start;
  box-sizing: border-box;
  flex: 0 0 57%; }

.third .card .button {
  color: #FFFFFF;
  background-color: #706443;
  padding: 0.6em 1.4em;
  border-radius: 5px;
  font-size: 1em; }

.fourth {
  margin-bottom: 3em; }
  .fourth h2 {
    font-size: 1.8em; }
  .fourth h3 {
    font-size: 1em;
    font-weight: bold;
    padding-top: 0.6em; }
    .fourth h3:nth-of-type(n + 2) {
      border-top: 2px groove #F7E9B7; }
  .fourth p {
    padding-bottom: 0.6em; }
  .fourth blockquote {
    font-size: 1.3em;
    padding-left: 2em;
    margin-left: 0;
    line-height: 2;
    font-style: italic;
    font-weight: 200; }
    .fourth blockquote:before {
      content: '" '; }
    .fourth blockquote:after {
      content: ' "'; }
    @media (max-width: 996px) {
      .fourth blockquote {
        padding-right: 3em; } }
  .fourth .author {
    font-size: 1.5em;
    padding-left: 2em; }
  .fourth .topics a {
    font-style: italic;
    text-decoration: none;
    color: #7D6F4B;
    font-size: 0.9em; }
    .fourth .topics a:hover {
      text-decoration: underline; }

.mainFooter {
  text-align: center;
  padding-top: 1.4em;
  padding-bottom: 2em;
  background-color: #62573B;
  word-spacing: 2px;
  color: #877850; }
  .mainFooter a {
    color: #877850;
    text-decoration: none; }

body {
  background: url("../img/img01.png");
  font-family: Oswald;
  font-size: 0.9em;
  font-weight: 400;
  color: #887644; }

h2, h3 {
  font-weight: normal; }

h2 {
  font-size: 2.6em; }

h3 {
  font-size: 1.8em; }

.mainHeader, .mainContent, .mainFooter {
  max-width: 1300px;
  min-widh: 475px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 996px) {
    .mainHeader, .mainContent, .mainFooter {
      padding-left: 1%;
      padding-right: 1%; } }

.block {
  padding-top: 2em;
  padding-bottom: 3em;
  margin-bottom: 1em;
  border-bottom: 2px groove #F7E9B7; }

ul {
  list-style: none; }

.flexContaintenerFour, .flexContaintenerThree, .flexContaintenerTwo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.columnOneFourth, .columnOneThird, .columnOneSecond {
  box-sizing: border-box; }

.columnOneFourth {
  flex: 0 1 22%;
  position: relative; }
  @media (max-width: 996px) {
    .columnOneFourth {
      flex: 0 1 49%;
      padding-top: 2em; } }
  @media (max-width: 560px) {
    .columnOneFourth {
      flex: 0 0 98%; } }

.columnOneThird {
  box-sizing: border-box;
  flex: 0 1 32%;
  align-items: flex-start; }
  @media (max-width: 560px) {
    .columnOneThird {
      flex: 0 0 98%; } }

.columnOneSecond {
  flex: 0 1 48%; }
  @media (max-width: 996px) {
    .columnOneSecond {
      flex: 0 1 98%; } }

.mainNav, .controlContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 996px) {
    .mainNav, .controlContainer {
      justify-content: flex-start; } }

.logoTitle {
  flex: 0 0 25%; }
  @media (max-width: 996px) {
    .logoTitle {
      flex: 0 0 50%; } }

.navMenu {
  flex: 0 0 auto;
  margin-left: auto; }

.card {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-top: 0.6em;
  padding-bottom: 1.4em;
  align-items: center;
  line-height: 1.8; }
  @media (max-width: 996px) {
    .card {
      flex-flow: column wrap; } }
  .card .pic {
    box-sizing: border-box;
    flex: 0 0 30%;
    margin-right: 4%; }
    @media (max-width: 996px) {
      .card .pic {
        margin-right: 0; } }
  .card .description {
    box-sizing: border-box;
    flex: 0 0 65%;
    padding-right: 1%; }

.veticalFlex {
  display: flex;
  flex-flow: column nowrap; }
  @media (max-width: 996px) {
    .veticalFlex {
      flex-flow: row nowrap;
      justify-content: center; } }
  @media (max-width: 560px) {
    .veticalFlex {
      flex-flow: column nowrap; } }

.list ul {
  margin-left: 0;
  padding-left: 0;
  padding-right: 2em; }
  @media (max-width: 996px) {
    .list ul {
      padding-left: 1em; } }
  @media (max-width: 560px) {
    .list ul {
      padding-left: 2em; } }

.list li {
  padding: 0.6em 1em;
  background: url("../img/img05.png") no-repeat left center; }
  .list li:nth-of-type(n + 2) {
    border-top: 2px groove #F7E9B7; }

.list a {
  text-decoration: none;
  color: #7D6F4B; }
  .list a:hover {
    text-decoration: underline; }
